{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="margin-top: 10px">
        <div id="map"></div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}
{% block head %}
    <style>
        #map {
            height: 860px;
            width: 100%;
        }
    </style>
{% endblock %}