{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                Sistemas IoT para Urgencias no transito
            </h1>
            <p class="lead text-muted">
                Internet das coisas, conhecido também como IoT originou-se através de Kevin Ashton que em 1999 realizou
                uma
                apresentação na empresa Procter & Gamble (P&G) Desde então este paradigma
                tem sido muito discutido, principalmente no contexto atual, em que é possível notar um
                crescimento exponencial de tecnologias desenvolvidas neste sentido.
            </p>
        </div>
    </div>
{% endblock %}