{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="margin-top: 10px">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">CQRS</h4>
                    <p class="card-text">
                    <ul>
                        <li>
                            <a href="https://martinfowler.com/bliki/CQRS.html">CQRS by Martin Fowler</a>
                        </li>
                        <li>
                            <a href="https://www.confluent.io/blog/event-sourcing-cqrs-stream-processing-apache-kafka-whats-connection/">CQRS
                                Event Sourcing and Kafka by Neha Narkhede</a>
                        </li>
                        <li>
                            <a href="http://udidahan.com/2009/12/09/clarified-cqrs/">Clarified CQRS</a> grande mas vale
                            a pena ( ͡° ͜ʖ ͡°)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Redis</h4>
                    <p class="card-text">
                    <ul>
                        <li><a href="https://redis.io/commands">Commands</a></li>
                        <li>
                            <a href="https://www.alura.com.br/curso-online-nosql-chave-valor-com-redis-1">Alura
                                Redis</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Clojure</h4>
                    <p class="card-text">
                    <ul>
                        <li><a href="https://redis.io/commands">Leiningen</a></li>
                        <li><a href="http://www.braveclojure.com/foreword/">Clojure for the brave and true</a></li>
                        <li>
                            <a href="https://www.alura.com.br/curso-online-introducao-a-programacao-funcional-com-clojure">Alura
                                Clojure</a></li>
                        <li>
                            <a href="https://books.google.com.br/books?id=jzvRsgEACAAJ&dq=clojure+for+web+services&hl=en&sa=X&ved=0ahUKEwi98JeIwvXSAhVBlpAKHahKDTMQ6AEILzAC">Web
                                Development with Clojure</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kafka</h4>
                    <p class="card-text">
                    <ul>
                        <li><a href="https://sookocheff.com/post/kafka/kafka-in-a-nutshell/">Kafka in a Nutshell</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datomic</h4>
                    <p class="card-text">
                    <ul>
                        <li>
                            <a href="https://github.com/clojurians-org/clojure-ebook/blob/master/Professional%20Clojure.pdf">Livro
                                Clojure</a> datomic capitulo 6
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ferramentas usadas</h4>
                    <p class="card-text">
                    <ul>
                        <li>
                            <a href="http://pt-br.libreoffice.org/assets/Uploads/PT-BR-Documents/VERO/ptBR-2013-10-30AOC-2.zip">Dicionario
                                PT-BR</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Artigos interesantes</h4>
                    <p class="card-text">
                    <ul>
                        <li>
                            <a href="http://blog.cleancoder.com/uncle-bob/2014/11/24/FPvsOO.html">OO vs FP by Uncle
                                Bob</a>
                        </li>
                        <li>
                            <a href="http://hypirion.com/musings/understanding-persistent-vector-pt-1">Understanding Clojure's Persistent Vectos, pt.1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}